[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {editable = true, path = "."}
aiohttp = "*"
websockets = "*"
yarl = "*"
croniter = "*"
tzlocal = "*"
aiocron = {editable = true, git = "https://github.com/bradwood/aiocron.git"}

[dev-packages]
pytest = "*"
pytest-cov = "*"
sphinx = "*"
pylint = "*"
"autopep8" = "*"
setuptools = "*"
bumpversion = "*"
pytest-mock = "*"
twine = "*"
docutils = "*"
mypy = "*"
rope = "*"
reno = {version = "*", extras = ["sphinx"]}
asynctest = "*"
pytest-aiohttp = "*"
pytest-asyncio = "*"
mock = "*"
pydocstyle = "*"
prospector = "*"
aresponses = "*"
python-dateutil = "*"
sphinxcontrib-asyncio = "*"

[requires]
python_version = "3.7"
