[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {editable = true, path = "."}
yarl = "*"
trio = "*"
asks = "*"
trio-websocket = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
sphinx = "*"
pylint = "*"
"autopep8" = "*"
setuptools = "*"
bumpversion = "*"
pytest-mock = "*"
twine = "*"
docutils = "*"
mypy = "*"
rope = "*"
reno = {version = "*", extras = ["sphinx"]}
asynctest = "*"
mock = "*"
pydocstyle = "*"
python-dateutil = "*"
sphinxcontrib-asyncio = "*"
pytest-trio = "*"
"h11" = "*"

[requires]
python_version = "3.7"
